<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

    <property name="hibernate.connection.url">jdbc:mysql://localhost/vaccine_forecast_analyzer</property>
    <property name="hibernate.connection.username">vfa_web</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.password">cArn88rOw</property>
    
    <property name="show_sql">false</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property><!--  seconds -->
    <property name="hibernate.c3p0.timeout">100</property><!--  seconds -->
    <property name="hibernate.c3p0.max_size">30</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_statements">10</property>
    <mapping resource="org/immregistries/vfa/model/Agreement.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/AssociatedDate.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Consideration.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ConsiderationGuidance.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Event.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Expert.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ExpertRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/EvaluationActual.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/EvaluationActualRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/EvaluationCompare.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/EvaluationExpected.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/EvaluationExpectedRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/EvaluationTarget.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/EvaluationType.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastActual.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastActualRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastCompare.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastCvx.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastExpected.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastExpectedRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastTarget.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ForecastType.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Guidance.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/GuidanceActual.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/GuidanceActualRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/GuidanceExpected.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/GuidanceExpectedRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/LoginAttempt.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Rationale.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/RationaleGuidance.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Recommend.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/RecommendGuidance.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/RelativeRule.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Resource.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ResourceGuidance.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/ServiceOption.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/Software.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/SoftwareCompare.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/SoftwareSetting.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/SoftwareResult.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/SoftwareTarget.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/SystemProperty.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TaskGroup.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestCase.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestCaseRating.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestCaseSetting.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestEvent.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestNote.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestPanel.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestPanelCase.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestPanelEvaluation.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestPanelForecast.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/TestPanelGuidance.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/User.hbm.xml"/>
    <mapping resource="org/immregistries/vfa/model/VaccineGroup.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
